<!doctype html>
<html>
<head>
  <title>Test</title>

  <script src="/jquery/dist/jquery.js"></script>
  <script src="/react/dist/react.js"></script>
  <script src="/react-dom/dist/react-dom.js"></script>
  <script src="/babel/babel.js"></script>
  <script src="/materialize-css/dist/js/materialize.js"></script>
</head>
<body>
  <div>{{test_value}}</div>
  <div id="container"></div>
  <script src="/bundle.js"></script>
</body>
</html>
